$information-phone: "screen and (max-width: 599px) and (orientation:portrait)";
$information-pad: "screen and (min-width: 600px) and (max-width: 1279px)";
$information-pad-portrait: "screen and (min-width: 600px) and (max-width: 1279px) and (orientation:portrait)";
$information-desktop: "screen and (min-width: 1280px) ";