/* STYLE MAT-TOOLBAR */
.doubletitre
{
  list-style: none;
  line-height: normal;
  text-align: left;
}

.titre_jour
{
  text-transform: capitalize;
}

.doubletitre_item_small
{
  font-size: 80%
}

/*POSITIONNEMENT OLIVIER */

.sidenav-container {
  height: calc(100vh - 56px);
 
}



// .toolbar-container {
  
 
// }
